{% extends "./base.html" %}

{% block title %}Confirmed Rides{% endblock %}

{% block content %}
    <h2>Confirmed Rides</h2>
    <p>Here are your confirmed rides.</p>

    {% if trips %}
        <ul>
            {% for trip in trips %}
                <li>
                    <strong>Location ID:</strong> {{ trip.t_locationid }} <br>
                    <strong>Arrival Time:</strong> {{ trip.t_arrival_date_time }} <br>
                    <strong>Share Number:</strong> {{ trip.t_shareno }} <br>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No ongoing rides found.</p>
    {% endif %}
{% endblock %}
