{% extends "./base.html" %}

{% block title %}Search Open Rides{% endblock %}

{% block content %}
    <h2>Search Open Rides</h2>
    <form action="#" method="POST">
        <div class="form-group">
            <label for="startLocation">Address</label>
            <input type="text" id="startLocation" name="startLocation" placeholder="">
        </div>

        <div class="form-group">
            <label for="startTime">Earliest Arrival Time</label>
            <input type="text" id="startTime" name="startTime" placeholder="">
        </div>

        <div class="form-group">
            <label for="endTime">Latest Arrival Time</label>
            <input type="text" id="endTime" name="endTime" placeholder="">
        </div>

        <div class="form-group">
            <label for="customerNum">Number of Customers</label>
            <input type="text" id="customerNum" name="customerNum" placeholder="">
        </div>

        <div class="form-group">
            <label for="v_type">Vehicle Type</label>
            <input type="text" id="v_type" name="v_type" placeholder="">
        </div>

        <div class="form-group">
            <label for="v_specialInfo">Special Info</label>
            <input type="text" id="v_specialInfo" name="v_specialInfo" placeholder="">
        </div>
        
        <button type="submit">Search Trips</button>
    </form>

    <div>Below are all the trips you want!</div>
    <div>
        {% if open_trips %}
            <ul>
                {% for trip in open_trips %}
                    <li>
                        <strong>Trip ID:</strong> {{ trip.t_id }}<br>
                        <strong>Driver ID:</strong> {{ trip.t_driverid }}<br>
                        <strong>Arrival Time:</strong> {{ trip.t_arrival_date_time }}<br>
                        <strong>Status:</strong> {{ trip.t_status }}<br>
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <p>No open trips available.</p>
        {% endif %}
    </div>
{% endblock %}
