{% extends 'registration/base.html' %}

{% block content %}
<section>
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-centered">
        <h1 class="mt-5 mb-3">Apply to Become a Driver</h1>
      </div>
    </div>

    {% if error %}
    <p style="color: red;">{{ error }}</p>
    {% endif %}

    <div class="row">
      <div class="col-md-6 offset-md-3 mt-3">
        <form method="post">
          {% csrf_token %}
          <label for="license_number">License Number:</label>
          <input type="text" name="license_number" class="form-control" required>

          <label for="car_model">Car Model:</label>
          <input type="text" name="car_model" class="form-control" required>

          <label for="vehicle_type">Vehicle Type:</label>
          <input type="text" name="vehicle_type" class="form-control" required>

          <label for="license_plate">License Plate:</label>
          <input type="text" name="license_plate" class="form-control" required>

          <label for="max_passengers">Max Passengers:</label>
          <input type="number" name="max_passengers" class="form-control" required>

          <label for="phone_number">Phone Number:</label>
          <input type="text" name="phone_number" class="form-control" required>

          <label for="additional_info">Additional Information (optional):</label>
          <textarea name="additional_info" class="form-control"></textarea>

          <button type="submit" class="btn btn-success mt-3">Submit Application</button>
        </form>
      </div>
    </div>
  </div>
</section>
{% endblock %}